@charset "UTF-8";

@font-face {
    font-family: 'RomauntGaolines';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

:root{
   --font-titulo:'RomauntGaolines','display';
   --font-texto:'Montserrat','sans-serif';

}

h1{
    font-family: var(--font-titulo);
}

body{
    background-position: relative;
    background-image: url('img/foto-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

main{
    background-position: absolute;
    background-color: aqua;
    width: 1000px;
}